<script type="text/javascript">
$(function(){
	//导航切换
	$(".menuson .header").click(function(){
		var $parent = $(this).parent();
		$(".menuson>li.active").not($parent).removeClass("active open").find('.sub-menus').hide();

		$parent.addClass("active");
		if(!!$(this).next('.sub-menus').size()){
			if($parent.hasClass("open")){
				$parent.removeClass("open").find('.sub-menus').hide();
			}else{
				$parent.addClass("open").find('.sub-menus').show();
			}


		}
	});

	// 三级菜单点击
	$('.sub-menus li').click(function(e) {
	    $(".sub-menus li.active").removeClass("active");
		$(this).addClass("active");
    });

	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('.menuson').slideUp();
		if($ul.is(':visible')){
			$(this).next('.menuson').slideUp();
		}else{
			$(this).next('.menuson').slideDown();
		}
	});
})
</script>

<div class="page-sidebar">
    @*<div class="lefttop"><span></span>主菜单</div>
*@
    <dl class="leftmenu">

        <dd>
            <div class="title">
                <span><img src="~/images/leftico01.png" /></span>主菜单
            </div>
            <ul class="menuson">

                <li class="active">
                    <div class="header">
                        <cite></cite>
                        <a href="javascript:;" target="rightFrame">会员管理</a>
                        <i></i>
                    </div>
                    <ul class="sub-menus">
                        <li><a href="javascript:;">会员列表</a></li>
                        <li><a href="javascript:;">会员业绩</a></li>
                        <li><a href="javascript:;">会员操作日志</a></li>
                        <li><a href="javascript:;">推广关系</a></li>
                    </ul>
                </li>

                <li>
                    <div class="header">
                        <cite></cite>
                        <a href="javascript:;" target="rightFrame">新闻管理</a>
                        <i></i>
                    </div>
                    <ul class="sub-menus">
                        <li><a href="javascript:;">新闻列表</a></li>
                        <li><a href="javascript:;">添加新闻</a></li>
                    </ul>
                </li>

                <li>
                    <div class="header">
                        <cite></cite>
                        <a href="javascript:;" target="rightFrame">虚拟管理</a>
                        <i></i>
                    </div>
                    <ul class="sub-menus">
                        <li><a href="javascript:;">价格列表</a></li>
                    </ul>
                </li>
                <li>
                    <div class="header">
                        <cite></cite>
                        <a href="javascript:;" target="rightFrame">资产管理</a>
                        <i></i>
                    </div>
                    <ul class="sub-menus">
                        <li><a href="javascript:;">待审核充值列表</a></li>
                        <li><a href="javascript:;">待审核提现列表</a></li>
                        <li><a href="javascript:;">报单列表</a></li>
                        <li><a href="javascript:;">待审核虚拟币提现列表</a></li>
                        <li><a href="javascript:;">虚拟币操作记录列表</a></li>
                        <li><a href="javascript:;">奖金积分操作记录列表</a></li>
                        <li><a href="javascript:;">会员资金列表</a></li>
                    </ul>
                </li>
                <li>
                    <div class="header">
                        <cite></cite>
                        <a href="javascript:;" target="rightFrame">报表统计</a>
                        <i></i>
                    </div>
                    <ul class="sub-menus">
                        <li><a href="javascript:;">汇总统计</a></li>
                    </ul>
                </li>
                <li>
                    <div class="header">
                        <cite></cite>
                        <a href="javascript:;" target="rightFrame">系统管理</a>
                        <i></i>
                    </div>
                    <ul class="sub-menus">
                        <li><a href="javascript:;">系统参数设置</a></li>
                        <li><a href="javascript:;">银行账号列表</a></li>
                        <li><a href="javascript:;">后台账号管理</a></li>
                        <li><a href="javascript:;">关于我们</a></li>
                    </ul>
                </li>
                
            </ul>
        </dd>


       
       
        
    </dl>
</div>