@model dynamic

@{
    ViewBag.Title = "资金解冻";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="@Url.Action("Index","Home")">首页</a></li>
        <li><a href="#">资金解冻</a></li>
    </ul>
</div>
<div class="formbody">
    @Html.ValidationSummary()
        @using (Html.BeginForm("UnlockCashTrans", "Admin", FormMethod.Post, new { role = "form" }))
    {
        <p> <b>资金解冻需要耗时一段时间，请耐心等待，不要进行其他操作！</b><br /><br /><br /><br /></p>
        <button type="submit" class="btn btn-new">确认解冻</button>
    }
</div>
<script>
    $(document).ready(function () {
       
        $('#adminParent').slideDown();
    });
</script>