
<!-- Modal 用户协议 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">用户使用协议</h4>
            </div>
            <div class="modal-body">
                <h3>特别提示</h3>

                <p>山东宏仁国际贸易有限公司（以下简称“宏仁国际”）鉴于宏仁国际拥有先进的物流经营理念，采用互联网+及物联网+等技术为依托，专业从事物流销售和服务的先进经营企业。现甲、乙双方友好协商，自愿达成战略合作伙伴关系，秉着共同发展、诚信合作的宗旨达成如下协议：</p>                


                <h3>一、合作宗旨</h3>

                <p>1、双方在合作中建立互信、惯例与默契是商业合作战略伙伴关系的基础，提高效率与共同发展是双方合作的目标和根本利益。</p>
                <p>2、本协议的基本原则是自愿、双赢、互惠互利、共同发展、保守秘密。</p>
                <p>3、充分发挥双方优势，优势互补，提高竞争力，共同进行市场开拓。</p>                

                <h3>二、合作方式 </h3>
				<p>1、甲方有条件的允许乙方使用全民物流网络等技术平台。</p>
				<p>2、乙方同意投资该平台建设费用（大写）        元，用于甲方进行该技术平台的开发建设。 </p>  
				<p>3、乙方承诺于    年  月  日之前将投资款项交付给甲方。</p>
				<p>4、甲方经营期间，乙方投资款项甲方给予配额等值股票。</p>
				<p>5、甲方在经营期间以其他方式返还乙方投资费用（大写）      元本协议所有合作内容即时终止。乙方投资利润按甲方每年经营收入大小按比例分成。</p>
				<p>	6、全民物流网络平台的开发、运营权归甲方，由甲方全权负责运作，由甲方负责经营。</p>
				<p>7、全民物流网络平台的使用参与程度，以相应投入为准，乙方不得参与该平台的建设开发、运营管理。也不得参与该平台以外的甲方公司其他事务的运营建设。</p>
				<h3>三、合作期限 </h3>
				<p>1、因该互联网技术平台的建设和运营需要较长的时间，短期无法完成，乙方对此理解，并给予甲方足够的时间。</p>
				<h3>四、合作其他问题</h3> 
					<p>1、乙方每年可以对甲方公司进行拜访、考察，以了解甲方平台建设情况和技术水平，并有权提出平台建设意见。</p>
					<p>2、乙方不得参与甲方公司内部其他事务的管理。</p>
				<h3>五、保密</h3> 
					<p>1、双方应对其通过工作接触和通过其他渠道得知的有关对方商业秘密严格保密，未经对方事先书面同意，不得向第三方披露。</p>
				 <p>2、除本协议约定工作所需外，未经对方事先同意，不得擅自使用、复制对方的技术资料、商业信息及其他资料。</p>
					<h3>六、争议解决。 </h3>
					<p>因履行本协议过程中发生争议时，双方首先应当友好协商解决、互谅互让。协商不成的，提交甲方所在地人民法院解决。 </p>
					<p>本协议自双方签章之日起生效。未尽事宜，双方可约定补充条款，补充条款视为本协议的组成部分。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->