@{
    
}

<div class="col-xs-12 col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            SUCCESS
        </div>
        <div class="panel-body">
            <div class="alert alert-success">
                @TempData["ActionMessage"]
            </div>
        </div>
        <!-- /.panel-body -->
        <div class="panel-footer">
            &nbsp;
        </div>
    </div>
</div>
<!-- /.col-lg-12 -->