.chart-container,
.chart-container2
{
	box-sizing: border-box;
	width: 100%;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: -30px auto 30px auto;
	border: 1px solid #ddd;
	background: #000;
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.chart-container {
    margin-top:-50px;
}
.chart-container2{height: 300px;}
#PriceChart,
#BarChart
{
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.index_login_box {	
	overflow: hidden;
	padding:0px;
}

.index_login_box .login_box .opacity_bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 120;
	width: 100%;
	height: 100%;
	background-color: #282828;
	opacity: .75;
	filter: alpha(opacity=75);
}

.index_login_box .login_box .tab h4.title {
	font-size: 16px;
	text-indent: 20px;
	line-height: 45px;
	color: #FFF;
}

.index_login_box .login_box .tab {
	position: relative;
	z-index: 130;
	margin: auto;
}

.index_login_box .login_box .input_login {
	box-sizing: border-box;
	width: 100%;
	height: 38px;
	line-height: 38px\9;
	padding-left: 20px;
	border: 0;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	background-color: #FFF;
	margin-bottom: -1px;
	font-size: 14px;
}

.index_login_box .login_box .sign_btn {
	display: block;
	margin: auto;
	width: 90%;
	font-size: 16px;
	padding: 0;
	font-weight: normal;
	margin-top:20px;
	padding:8px;
	border-radius:0px;
	background-color: #fe8330;
	color:#fff;
}

.index_login_box .login_box .login_hr {
	width: 90%;
	margin-top: 26px;
	margin-bottom: 20px;
	border: 0;
	background-color: #4d4b47;
	height: 1px;
}

.form_login #CaptchaInputText{
    border-radius: 0px;
    width: 125px;
    height: 38px;
    padding-left: 20px;
    border: 0;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #FFF;
    margin-bottom: -1px;
    font-size: 14px;
}

.form_login #CaptchaImage{
    margin-left: 0px !important;
    height: 38px !important;
}

 .index_login_box .login_box .tab.tab01 .index_zhxx {
	height: 100px;
	width: 243px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}
 .index_login_box .login_box .tab.tab01 .index_zhxx ul {
	height: 100px;
	width: 238px;
	border: thin solid #846d40;
}
 .index_login_box .login_box .tab.tab01 .index_zhxx ul li {
	height: 24px;
	width: 240px;
	display: block;
}

 .index_login_box .login_box .tab.tab01 .index_zhxx ul li span {
	height: 24px;
	width: 93px;
	float: left;
	display: block;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #846d40;
	color: #FFF;
	text-align: center;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #846d40;
	line-height: 24px;
}
 .index_login_box .login_box .tab.tab01 .index_zhxx ul li .zzc {
	width: 187px;
}
 .index_login_box .login_box .tab.tab01 .index_zhxx ul li .zzy {
	width: 50px;
}


.btn_orange, a.btn_orange, a.btn_orange:visited, .btn_warning {
    outline: none;
    background-color: #ff6000;
    border: 1px solid transparent;
    color: #FFF;
    width:86%;
    margin:auto;
}

 .index_login_box .btn{
    border-radius: 0px;
}

 .index_login_box .login_box .tools{
    width: 86%;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 30px;
 }

 .index_login_box .login_box .btn_white {
    outline: none;
    background-color: #FFF;
    border-right: 1px solid #bababa;
    color: #4d4d4d;
    width: 50%;
    padding: 5px 8px;
    display: block;
    text-align: center;
}

.index_login_box table
 {
    border-collapse:collapse;border-spacing:0;border-left:1px solid #846d40;border-top:1px solid #846d40;
    margin: auto;
    margin-bottom: 20px;
    width:86%;
    font-size : 7px;
 }

.index_login_box td{
    padding: 5px;
    border-right:1px solid #846d40;border-bottom:1px solid #846d40;
}

.price-container{
    background-color: #fff;
    height: 50px;
}

.price-container span
{
    height: 50px;
    line-height: 50px;
    font-size:17px;
}

.topup-amount{
    width: 260px;
    display: inline;
    float: left;
    text-align: right;
    padding-right: 2px;
}

.topup-odd{
    width: 40px;
    padding-left: 2px;
    float: left;
}

@media (min-width: 780px) {
    #menu-toggle{
        width: 80px !important;
    }
    .logo{
        width:268px;
        padding: 14px 0 12px 80px;
    }
    #content{
        margin-left: 268px;
    }
    #sidebar.toggled {
        position: absolute;
        left: -268px;
    }
    #sidebar{
        width:268px;
    }
    #sidebar .side-menu {
        width: 80px !important;
    }

    .side-menu > li:hover .menu-item {
        left: 80px;
    }

    #sidebar .side-menu > li > a{
        width: 80px;
    }
    .side-menu ul li > a {
        padding: 13px 15px 13px 15px;
    }

    #sidebar .side-menu > li > a > span{
        left: 0px !important;
        width: 80px;
        text-align: center;
        visibility :visible;
        opacity: 1;
    }
    .side-menu ul.menu-item{
        top: 0px;
    }
    #sidebar {
        padding-left: 80px;
    }
}


.center-cell{
    text-align:center;
}

#form-loading{
    width: 100%;
    height: 100%;
    background: #001112;
    opacity: .75;
    filter: alpha(opacity=75);
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 9999;
    text-align:center;
    display:table;
}
.loading{
    width: 300px;
    vertical-align: middle;
    margin-top: 200px;
}