@model MemberCenter.Models.BaoDanBuyViewModel
@{
    ViewBag.Title = "实价报单";
}

<h1 class="page-header">@ViewBag.Title</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        PRICE DECLARATION
    </div>
    <div class="panel-body">

        <table class="table">
            <caption>联和通用积分实时价格：<b>@Model.CurrentCoinPrice</b></caption>
            <tr>
                <td>可用现金：<p>@Model.AvailableCash</p></td>
                <td>报单价格：<p>1.7</p></td>
                <td>报单个数：<p>1000</p></td>
                <td>消耗现金：<p>1000</p></td>
                <td>报单总额：<p>1000</p></td>
                <td><button type="submit" class="btn btn-primary">报单</button></td>
            </tr>
        </table>
        <!-- /.Table -->
    </div>
    <!-- /.panel-body -->
    <div class="panel-footer">
        &nbsp;
    </div>
</div>